$bg-dark: #1a2639;
$bg-dark-light: #3e4a61;
$bg-orange: #c24d2c;
$bg-light: #d9dad7;

.account-management-container {
    width: 80%;
    background-color: #3e4a6144;
    border-radius: 8px;
    padding: 20px;
}