$bg-dark: #1a2639;
$bg-dark-light: #3e4a61;
$bg-orange: #c24d2c;
$bg-light: #d9dad7;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap");

* {
  box-sizing: border-box;
}

.dashboard {
  padding: 1rem;
  background-color: #d9dad7;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcome {
    text-align: center;
    margin: 10px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "comfortaa", "Roboto", sans-serif;
  }
  .dashboard-collapsible-button {
    cursor: pointer;
    padding: 18px;
    width: 70vw;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    background: #d9dad7;
    box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
    font-family: "comfortaa", "Roboto", sans-serif;
    transition: all 0.1s ease-in-out;
    transition: color 0.3s;
    &:active {
      border-radius: 8px;
      background: linear-gradient(145deg, #c3c4c2, #e8e9e6);
      box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
    }
    &:hover {
      color: $bg-orange;
    }
  }
  .latest-items {
    max-height: none;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    transition: max-height 0.2s ease-out;
    .dash-item {
      background-color: #d9dad7;
      opacity: 0.9;
      margin: 15px;
      padding: 10px;
      text-align: center;
      justify-items: center;
      width: 200px;
      height: 300px;
      border-radius: 22px;
      box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec;
      transition: box-shadow 30ms ease;

      .item-picture {
        border-radius: 22px;
        background: #d9dad7;
        box-shadow: 8px 8px 16px #757674, -8px -8px 16px #ececec;
      }

      .item-picture:active {
        border-radius: 22px;
        background: #d9dad7;
        box-shadow: 4px 4px 8px #757674, -4px -4px 8px #ececec;
      }
    }
    .dash-item:hover {
      cursor: pointer;
      box-shadow: 10px 10px 15px #b4b5b2, -10px -10px 15px #ececec;
    }

    .dash-item:active {
      box-shadow: 5px 5px 10px #b4b5b2, -5px -5px 10px #ececec;
    }

    .dash-date {
      font-size: 10px;
    }
  }
  .dashboard-hidden {
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .dashboard-click-me {
    float: right;
    color: $bg-orange;
    font-size: 16px;
    font-weight: bolder;
  }
}

