$bg-dark: #1a2639;
$bg-dark-light: #3e4a61;
$bg-orange: #c24d2c;
$bg-light: #d9dad7;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap");

.landing-background {
  height: 100vh;
  width: auto;
  background-image: url('../../pictures/TradyGradeWatermarkBlue.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #d9dad7;
  background-size: 1000px 1000px;
}
.landing-container {
  header {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    height: 150px;
    box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
    width: 100%;
    background-color: $bg-light;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    #about {
      position: relative;
      text-align: center;
      text-anchor: middle;
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      color: $bg-dark-light;
      max-height: 70%;
      padding: 20px;
      margin: auto 50px;
      width: 630px;
      border-radius: 16px;
      background: #b8b9b7;
      box-shadow: inset 10px 10px 13px #999a98, inset -10px -10px 13px #d7d8d6;
    }
    @media screen and (max-width: 1238px) {
      #about {
        display: none;
      }
    }
    #slogan {
      margin: 30px;
      width: 140px;
      text-align: center;
      font-family: "comfortaa", "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: $bg-dark;
    }
  }

  #landing-title {
    font-size: 8em;
    max-width: 100%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    font-family: "comfortaa", "Roboto", sans-serif;
    pointer-events: none;
    user-select: none;
  }
  .notice {
    padding: 20px;
    background-color: $bg-orange;
    color: $bg-light;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 250px;
    height: 400px;
    border-radius: 16px;
    background: #c24d2c;
    box-shadow: inset 10px 10px 13px #a14025, inset -10px -10px 13px #e35a33;
  }

  // width: 80vw;
  // margin-top: 4rem;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;

  button {
    padding: 1rem;
    color: $bg-dark-light;
    border-style: none;
    outline: none;
    font-size: 2rem;
    font-family: "comfortaa", "Roboto", sans-serif;

    transition: all 0.1s ease-in-out;
    transition: color 0.3s;

    border-radius: 8px;
    background: #d9dad7;
    box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;

    &:active {
      border-radius: 8px;
      background: linear-gradient(145deg, #c3c4c2, #e8e9e6);
      box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
    }
    &:hover {
      color: $bg-orange;
    }
  }
}
.modal {
  font-family: "comfortaa", "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 390px;
  width: 340px;
  min-width: 200px;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: $bg-light;
  border-style: none;
  outline: none;
  border-radius: 7px;
  border-radius: 11px;
  background: #d9dad7;
  box-shadow: inset 28px 28px 29px #b8b9b7, inset -28px -28px 29px #fafbf7;
  input {
    background-color: #00000000;
    border-style: none;
    outline: none;
  }
  form {
    height: 100%;
    width: 100%;
    input {
      font-size: 14px;
      width: 100%;
      color: $bg-orange;
      padding: 10px;
      margin: 5px auto;
    }
  }
  button {
    margin-top: 15px;
    justify-self: flex-end;
    padding: 0.5rem;
    color: $bg-dark-light;
    border-style: none;
    outline: none;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;

    transition: all 0.1s ease-in-out;
    transition: color 0.3s;

    border-radius: 11px;
    background: #d9dad7;
    box-shadow: 7px 7px 14px #b8b9b7, -7px -7px 14px #fafbf7;

    &:active {
      border-radius: 11px;
      background: linear-gradient(145deg, #c3c4c2, #e8e9e6);
      box-shadow: 7px 7px 14px #b8b9b7, -7px -7px 14px #fafbf7;
      transition: 0.3s ease-in-out;
    }
    &:hover {
      color: $bg-orange;
    }
  }
}
