.result-container {
  font-family: 'comfortaa', 'Roboto', sans-serif;
  background-color: #d9dad7;

  color: #1a2639;
  opacity: 1;
  padding: 10px;
  margin: 10px;
  text-align: center;
  justify-content: center;

  .filter-button {
    border: none;
    background: inherit;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    outline: none;
  }

  .filter-button:hover {
    background: #f4f4f4;
    cursor: pointer;
  }

  // .active {
  //   border-color: black;
  //   background: #333;
  // }

  #user-list-item {
    max-width: 800px;
    display: grid;
    margin: 0.5em;
    grid-template-columns: 5fr repeat(2, 1fr);
    align-items: center;
  }

  .product-list-item {
    max-width: 800px;
    display: grid;
    margin: 0.5em;
    grid-template-columns: 6fr 1fr;
  }

  button {
    border: none;
    background-color: #d9dad7;
    box-shadow: 8px 8px 8px #828381;
    color: #1a2639;
    font-size: 16px;
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 22px;
    box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec;
  }

  button:hover {
    box-shadow: 10px 10px 15px #b4b5b2, -10px -10px 15px #ececec;
    background: #c3c4c1;
    cursor: pointer;
  }

  .button:active {
    box-shadow: 4px 4px 8px #b4b5b2, -4px -4px 8px #ececec;
  }

  .button:focus {
    outline: none;
  }

  .users-search-list {
    display: grid;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 2.5rem;
    box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
  }

  .items-search-list {
    display: grid;
    margin: 1rem;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 2.5rem;
    box-shadow: 9px 9px 20px #b8b9b7, -9px -9px 20px #fafbf7;
  }
}
