.market-list {
  // text-align: center;

  .filter-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .filter-group {
      width: 300px;
      display: grid;
      margin-bottom: 0.3rem;

      label {
        margin-bottom: 0.2rem;
      }
    }
  }

  .filter-box {
    // border: 1px solid black;
    display: grid;
    justify-content: center;
    padding: 1rem;
    padding-top: 0px;
    position: relative;
    height: 4rem;
    transition: height 200ms ease;
    margin: 1rem 0;
    background: rgba($color: #3e4a61, $alpha: 0.6);
    color: #d9dad7;
    box-shadow: 9px 9px 20px rgba($color: #3e4a61, $alpha: 0.4),
      -9px -9px 20px rgba($color: #fafbf7, $alpha: 0.1);
    border-radius: 8px;

    .filter-settings {
      visibility: hidden;
    }
  }

  .filter-box.show {
    height: 18rem;

    .filter-settings {
      visibility: visible;
    }
  }

  .filter-header {
    text-align: center;
    width: 250px;
    height: 2.5rem;
    margin: 0px auto;

    .hamburger {
      i {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.1rem 2rem;
        color: #d9dad7;
        cursor: pointer;
      }
    }
  }
}
