.ChatWindow {
  
  z-index: -1;
  margin: 0rem 0rem;
  height: 95%;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 0.8fr 10rem;
  grid-template-areas:
    "r m"
    "r s";
  background-color:#d9dad7;
  padding:10px;

  .Chats {
    color: #1a2639;
    grid-area: r;
    padding: 0rem 1rem;
    display: flexbox;
    min-width: 150px;
    max-width: 250px;
    min-height:550px;
    background: #d9dad7;
    box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec;
    transition: box-shadow 30ms ease;
    margin: 15px;
    border-radius:22px;

    .MyChatButton {
      border: none;
      background-color: #c24d2c;
      box-shadow: 8px 8px 8px #828381;
      color: #ececec;
      font-size: 20px;
      margin: 5px;
      padding:10px;
      border-radius: 22px;
      box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec
      }
  
      .MyChatButton:hover{
        box-shadow: 10px 10px 15px #b4b5b2, -10px -10px 15px #ececec;
      }
  
      .MyChatButton:active{
        box-shadow: 4px 4px 8px #b4b5b2, -4px -4px 8px #ececec;
      }

      .MyChatButton:focus {
        outline:none;

      }

    #userDiv {
      padding: 0.7rem;
      // margin: 0.5em;

      b {
        font-size: 0.8rem;
      }
    }

    // .Chats:hover {
    //   box-shadow: 10px 10px 15px #b4b5b2, -10px -10px 15px #ececec;
    //   color:white;
    // }

    // .Chats:active {
    //   box-shadow: 5px 5px 10px #b4b5b2, -5px -5px 10px #ececec;
    // }



    #userDiv:hover {
      background-color: #333;

      b {
        color: rgba($color: #d9dad7, $alpha: 1);
      }
    }
  }

  .chatEdge{

      padding:15px;
      margin:15px;
      background: #d9dad7;
    box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec;
    transition: box-shadow 30ms ease;
    border-radius:22px;
     

    .ChatOutput {
      display: flexbox;
      min-width: 300px;
      grid-area: m;
      border-radius: 1rem;
      margin: 0.5rem 1rem;
      padding: 0.5rem;
      margin: 15px;
      border-radius:22px;
      border-radius: 22px;
      background: #ececec;
      box-shadow: inset 5px 5px 8px #cecfcc, 
            inset -5px -5px 8px #e4e5e2;
      transition: background-color ease 500ms;

      #chatWindow {
        overflow: auto;
        

        #timeStamp {
          font-size: xx-small;
        }

        #output p {
          padding: 14px 0px;
          margin: 0 20px;
        }

        #output strong {
          color: #575ed8;
        }

        #feedback p {
          color: #1a2639;
          padding: 14px 0px;
          margin: 0 20px;
        }
      }
      
    }
    .ChatOutput:hover {
      background-color:#fdfdfd;
    }



  }

  .ComposeMessage {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:15px;
      margin:15px;
      background: #d9dad7;
    box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec;
    transition: box-shadow 30ms ease;
    border-radius:22px;
    padding:10px;
    

    .chatMessage {
      margin: 10px;
      background:#ececec;
      border: none;
      border-radius:22px;
      padding:10px;
      min-width:300px;
      outline:none;
    }

    #feedback {
      height: 4rem;
    }

    .chatSend{
    border: none;
    background-color: #c24d2c;
    box-shadow: 8px 8px 8px #828381;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding:10px;
    border-radius: 22px;
    box-shadow: 8px 8px 12px #b4b5b2, -8px -8px 12px #ececec
    }

    .chatSend:hover{
      box-shadow: 10px 10px 15px #b4b5b2, -10px -10px 15px #ececec;
    }

    .chatSend:active{
      box-shadow: 4px 4px 8px #b4b5b2, -4px -4px 8px #ececec;
    }

    .chatSend:focus {
      outline: none;
    }

    button {
      background-color: #fa4a19;
      border: none;
      border-radius: 1rem;
      width: 5rem;
      height: 2rem;
      border-radius: 31px;
      box-shadow: 8px 8px 10px #828381, -8px -8px 10px #ffffff;
    }

    button:hover {
      color: #1a2639;
    }

    button:active {
      box-shadow: 4px 4px 6px #828381, -4px -4px 6px #ffffff;
    }

    button:focus {
      outline: none;
    }
  }
}

.MyChatWindow {
  opacity: 0.95;
  z-index: -1;
  margin: 0rem 0rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 0.8fr 10rem;
  grid-template-areas:
    "r m"
    "r m";
  background-color:#d9dad7;
  padding:10px;

  .MyChatOutput {
    display: flexbox;
    min-width: 300px;
    grid-area: m;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 10px 10px 10px #828381;

    #chatWindow {
      overflow: auto;

      #timeStamp {
        font-size: xx-small;
      }

      #output p {
        padding: 14px 0px;
        margin: 0 20px;
      }

      #output strong {
        color: #575ed8;
      }

      #feedback p {
        color: #1a2639;
        padding: 14px 0px;
        margin: 0 20px;
      }
    }

    img {
      border: none;
      box-shadow: none;
      background-color: transparent;
      max-height: 80vmin;
      align-self: center;
    }
  }
  
  .MyChats {
    grid-area: r;
    color: #1a2639;
    grid-area: r;
    padding: 0rem 1rem;
    display: flexbox;
    min-width: 150px;
    max-width: 250px;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 10px 10px 10px #828381;

    #userDiv {
      padding: 0.7rem;
      // margin: 0.5em;

      b {
        font-size: 0.8rem;
      }
    }

    #userDiv:hover {
      background-color: rgb(216, 216, 216);
      border-radius: 22px;
      box-shadow: 10px 10px 10px #828381;


      b {
        color: rgba($color: #1a2639, $alpha: 1);
      }
    }
  }
}
