.nav {
  width: 6rem;
  height: 100vh;
  margin: 0;
  padding: 3rem 0;
  position: fixed;
  z-index: 1000;
  left: 0;
  background-color: #3e4a61;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 0px 10px 0.3px rgba($color: #000000, $alpha: 0.05);
  transition: width 200ms ease;

  background: #3e4a61;

  box-shadow: 11px 11px 22px #888888, -11px -11px 22px #ffffff;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;

    li {
      color: #d9dad7;
      margin: 10px;
      padding: 0.7rem;
      transition: background-color 50ms ease;
      border-radius: 40px;
      background: #3e4a61;
      box-shadow: 5px 5px 10px #2d3546, -5px -5px 10px #4f5f7c;
    }
  }
}

.fa-home,
.fa-shopping-cart,
.fa-comments,
.fa-user-circle,
.fa-sign-out-alt {
  color: #d9dad7;
  padding: 0;
}
.nav-text {
  display: none;
  color: #d9dad7;
  text-shadow: 2px 2px 4px #262d3b, -2px -2px 4px #566787;
  animation: 0.7s fadeIn;
}

.nav:hover {
  width: 16rem;
  .nav-text {
    display: inline-block;
  }

  li:active {
    border-radius: 40px;
    background: #3e4a61;
    box-shadow: 2px 2px 5px #2d3546, -2px -2px 5px #4f5f7c;
  }

  li:hover {
    background: #3e4a61;

    i {
      color: rgba($color: #ffffff, $alpha: 1);
      text-shadow: 5px 5px 5px 5px #d9dad7;
    }

    span {
      color: #fff;
    }
  }
  .nav-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    span {
      text-align: left;
    }
  }
}

.nav-item {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  1% {
    display: inline-block;
  }
  100% {
    opacity: 1;
  }
}

.app-logo {
  border-radius: 40px;
  background: #3e4a61;
  box-shadow: 5px 5px 10px #2d3546, -5px -5px 10px #4f5f7c;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100vw;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .app-list-item {
      display: none;
    }
  }

  .nav:hover {
    width: 100vw;
    justify-content: left;

    .nav-item {
      display: flex;
    }
    .nav-text {
      display: none;
    }
  }
}
